/.vs/SemVer.Spike/v16/.suo
/SemVer.Spike/bin/Debug/netstandard2.0/SemVer.Spike.deps.json
/SemVer.Spike/bin/Debug/netstandard2.0/SemVer.Spike.dll
/SemVer.Spike/bin/Debug/netstandard2.0/SemVer.Spike.pdb
/SemVer.Spike/bin/Debug/SemVer.Spike.1.2.0-preview.0.nupkg
/SemVer.Spike/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/SemVer.Spike/obj/Debug/netstandard2.0/SemVer.Spike.AssemblyInfo.cs
/SemVer.Spike/obj/Debug/netstandard2.0/SemVer.Spike.AssemblyInfoInputs.cache
/SemVer.Spike/obj/Debug/netstandard2.0/SemVer.Spike.assets.cache
/SemVer.Spike/obj/Debug/netstandard2.0/SemVer.Spike.csproj.CoreCompileInputs.cache
/SemVer.Spike/obj/Debug/netstandard2.0/SemVer.Spike.csproj.FileListAbsolute.txt
/SemVer.Spike/obj/Debug/netstandard2.0/SemVer.Spike.dll
/SemVer.Spike/obj/Debug/netstandard2.0/SemVer.Spike.pdb
/SemVer.Spike/obj/Debug/SemVer.Spike.0.0.0-alpha.0.nuspec
/SemVer.Spike/obj/Debug/SemVer.Spike.0.2.0-alpha.0.nuspec
/SemVer.Spike/obj/Debug/SemVer.Spike.1.2.0-alpha.0.nuspec
/SemVer.Spike/obj/Debug/SemVer.Spike.1.2.0-preview.0.nuspec
/SemVer.Spike/obj/project.assets.json
/SemVer.Spike/obj/project.nuget.cache
/SemVer.Spike/obj/SemVer.Spike.csproj.nuget.dgspec.json
/SemVer.Spike/obj/SemVer.Spike.csproj.nuget.g.props
/SemVer.Spike/obj/SemVer.Spike.csproj.nuget.g.targets
/SemVer.Spike/bin/Debug/SemVer.Spike.1.2.0-preview.0.1.nupkg
/SemVer.Spike/obj/Debug/SemVer.Spike.1.2.0-preview.0.1.nuspec
/SemVer.Spike/bin/Debug/SemVer.Spike.1.2.0-preview.0.2.nupkg
/SemVer.Spike/obj/Debug/netstandard2.0/SemVer.Spike.csprojAssemblyReference.cache
/SemVer.Spike/obj/Debug/SemVer.Spike.1.2.0-preview.0.2.nuspec
/SemVer.Spike/SemVer.Spike.csproj
